*,
*::before,
*::after {
	box-sizing: border-box;
	outline: 1px solid red;
}

ul[class],
ol[class] {
	padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

ul[class],
ol[class] {
	list-style: none;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

img {
	max-width: 100%;
	display: block;
}

article > * + * {
	margin-top: 1em;
}

input,
button,
textarea,
select {
	font: inherit;
}

body {
	background: linear-gradient(#e6eaea, #f8f6f5);
}
.container {
	width: calc(100% - 300px);
	display: flex;
	flex-flow: row nowrap;
	margin: 0 auto;
}
.formSection {
	width: 50%;
}
.inputsContainer {
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
}
input {
	width: calc(50% - 16px);
	height: 64px;
	box-shadow: 0px 16px 32px rgba(202, 203, 210, 0.25);
	margin-top: 35px;
	padding: 18px;
}
#inquiryInput {
	width: 100%;
}
textarea {
	width: 100%;
	height: 338px;
	padding: 18px;
	margin-top: 50px;
	resize: none;
}
#map {
	height: 400px;
	width: 100%;
  }

@media (max-width: 1000px) {
	.container,
	.inputsContainer,
	.formSection {
		width: 100%;
		flex-flow: column wrap;
	}
	input,
	#inquiryInput,
	textarea {
		width: calc(100% - 50px);
		margin: 17.5px auto;
	}
}
